---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<p style="font-size: 6; font-weight: bold;"> EC201: Introduction to Microeconomics (Online) </p>
<p style="font-size: 6; font-style: italic;"> Summer 2021 </p>

<p style="margin-left: 5%; margin-right: 20%;"> 
This course will introduce basic economic concepts and thinking to understand human and firm behavior. The goal for this course is to understand these principles and apply them to healthcare, labor, environmental policy, education, etc. By the end, students should aim to use basic economic principles to describe and test economic phenomena
</p> 
